<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 ">
<title>Kirjakauppa</title>
</head>
<body>
	<h1>Kirjakauppa Myy</h1>
	
	<table class="table table-striped">
		<tr>
			<th>Nimi</th>
			<th>Tekijä</th>
			<th>Vuosi</th>
			<th>ISBN</th>
			<th>Hinta</th>
		</tr>
			<tr th:each = "book : ${books}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.price}"></td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			</tr>
			
	</table>
	
	<form action="/add">
		<input type="submit" value="Lisää kirja">
	</form>

</body>
</html>